
<% @user.games.each do |i| %>		

<%= link_to image_tag(i.img_url), i, :class => 'col-md-4' %>

<% end %>	




<h1><a href="/neighborhoods/<%= @user.neighborhood_id %>">  <%= @user.neighborhood.name %> click here</a>
	
<p><%= @user.about %></p>
