<p id="notice"><%= notice %></p>

<p>
 <h1><%= @neighborhood.name %></h1> 
</p>



<h3>Users in this neighborhood</h3>
<% @neighborhood.users.each do |i| %>		

<a href="/users/<%= i.id %>"><h1><%= i.username %></h1></a>


<% end %>	