/*// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/



.game-container{
	display: inline-block;
	width: 25%;	
	overflow: none;
}
img {
	width:90%;
}

.board-container {
	width: 25%;
}